@use '../../utils' as *;

.drawer {
  min-width: 296px;
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    min-width: 362px;
    width: 100%;
    object-fit: contain;

    @include breakpoint-max(md) {
      height: fit-content;
      min-width: rem(580);
      left: -40%;
    }

    @include breakpoint-max(sm) {
      min-width: rem(328);
      left: 0;
    }
  }

  @include breakpoint-max(sm) {
    height: rem(220);
  }
}

.information {
  margin: rem(35) rem(40) rem(30) rem(35);

  .article {
    margin-bottom: rem(20);
    h1 {
      font-size: rem(20);
      margin-bottom: rem(15);

      @include breakpoint-max(sm) {
        font-size: rem(16);
      }
    }

    p {
      font-size: rem(13);
      line-height: rem(20);
    }

    @include breakpoint-max(sm) {
      margin-bottom: rem(30);
    }
  }

  .writer {
    display: flex;
    justify-content: space-between;
    &__information {
      display: flex;

      img {
        width: rem(35);
        height: rem(35);
        border-radius: 50%;
        margin-right: rem(15);
      }

      &__detail {
        font-size: rem(13);

        h2 {
          font-size: rem(13);
        }
      }
    }
  }

  @include breakpoint-max(sm) {
    margin-right: rem(35);
  }

  @include breakpoint-max(sm) {
    margin-bottom: rem(20);
  }
}
